/* 变量声明 */

// 产品主色 primary
$--ym-color-primary: #1FBE49; 
$--ym-bg-primary: linear-gradient(270deg, #57D979 0%, #1FBE49 100%); //按钮主色

// 提示色 info
$--ym-color-info: #666666; 
$--ym-bg-info: #666666;

// 警告色 warning
$--ym-color-warning: #FF4536; 
$--ym-bg-warning: #FF4536;

// 紫色 purple
$--ym-color-purple: #6B54D4;
$--ym-bg-purple: #6B54D4;

// 蓝色 blue 
$--ym-color-blue: #4169F3;
$--ym-bg-blue: #4169F3;

// 黄色 yellow
$--ym-color-yellow: #FFA300;
$--ym-bg-yellow: #FFA300;
